# Build output
build/
out/
cmake-build-*/

# Compiled binaries
*.exe
*.dll
*.lib
*.a
*.o
*.obj

# CMake / Ninja leftovers
CMakeCache.txt
CMakeFiles/
*.ninja
*.ninja_deps
*.ninja_log

# VS Code (opcjonalnie)
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
